{% extends 'base/base.html' %} {% load static %} {% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-body h-100" id="profile-wrapper">
        <img id="profile-pic" src="{% static 'base/images/profile-pic.jpg' %}" alt="profile-pic">
        <hr>
        <h4>Hi I'm Subhajit</h4>
        <p>I love coding, doing research and learning</p>
        <ul class="social-links">
          <a href="https://www.instagram.com/ironsubhajit/">
            <li>
              <img
                src="{% static 'base/icons/instagram-color.png' %}"
                alt="insta-logo"
                style="width: 24px"
              />
            </li>
          </a>
          <a href="https://twitter.com/ironsubhajit">
            <li>
              <img
                src="{% static 'base/icons/twitter.png' %}"
                alt="twiter-logo"
                style="width: 24px"
              />
            </li>
          </a>
          <a href="https://www.youtube.com/channel/UCGJYGiMDjWPCprI7Hs2WAuQ">
            <li>
              <img
                src="{% static 'base/icons/youtube.png' %}"
                alt="YT-logo"
                style="width: 24px"
              />
            </li>
          </a>
          <a href="https://github.com/ironsubhajit">
            <li>
              <img
                src="{% static 'base/icons/github-black.png' %}"
                alt="github-logo"
                style="width: 24px"
              />
            </li>
          </a>
          <a href="https://www.linkedin.com/in/ironsubhajit/">
            <li>
              <img
                src="{% static 'base/icons/linkedin.png' %}"
                alt="linkedin-logo"
                style="width: 24px"
              />
            </li>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card card-body h-100">
        <h4 class="card-title text-center">My First Big Project</h4>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
          architecto quidem labore, asperiores hic aliquid dignissimos ad natus
          ex nam odio quisquam, totam facilis? Ratione repellat libero culpa
          tempore excepturi? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Atque architecto quidem labore, asperiores hic aliquid
          dignissimos ad natus ex nam odio quisquam, totam facilis? Ratione
          repellat libero culpa tempore excepturi? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Atque architecto quidem labore,
          asperiores hic aliquid dignissimos ad natus ex nam odio quisquam,
          totam facilis? Ratione repellat libero culpa tempore excepturi?
        </p>
        <br />
        <ul class="social-links">
          <a href="https://github.com/ironsubhajit/ProjectO">
            <li>
              <img
                src="{% static 'base/icons/github-black.png' %}"
                alt="github-logo"
                style="width: 24px"
              />
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
