body {
  background-color: rgba(228, 224, 224, 0.884);
}


#profile-pic {
  border-radius: 50%;
}

ul {
  padding: 0;
  list-style-type: none;
}

.social-links ul, a, li{
  padding: 1px;
  list-style-type: none;
  display: inline-block;
}

.social-links ul, li, i{
  color: rgb(8, 145, 224);
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}